

$color00:    #fff;
$color01: #f5f5f5;
$color02: #eaeaea;
$color03: #c1c1c1;
$color04: #a7a7a7;
$color05: #8e8e8e;
$color06: #737373;
$color07: #5d5d5d;
$color08: #4a4a4a;
$color09: #404040;
$color10: #303030;
$color11: #252525;
$color12: #1b1b1b;
$color13: #101010;

$hovercolor: #E84855;
$accentcolor: #43a5e6;

$red: #E84855;
$orange: #da6b32;
$green: #1abc9c;
$blue: #3498db;
$darkblue: #2a577e;
$cyan: #6a4f74;
$yellow: #d9a81d;
$l-grey: #f2f2f2;
$grey: #999;


//Font/link Colors
.fontcolor-regular, .fontcolor-regular a {color: $color10 !important;;}
.fontcolor-invert, .fontcolor-invert a {color: $color01 !important;}
.fontcolor-medium, .fontcolor-medium a {color: $color06 !important;}
.fontcolor-medium-light {
  color: $color05 !important;
  a {
    color: $color05 !important;
    &:hover, &:focus {color: $hovercolor !important;}
  }
}
.hovercolor, .hovercolor a {color: $hovercolor !important;}
.accent-color, .accent-color a {color: $accentcolor !important;}
.accent-color a:hover {color: $hovercolor !important;}

.color00 {color: $color00 !important;}
.color01 {color: $color01 !important;}
.color02 {color: $color02 !important;}
.color03 {color: $color03 !important;}
.color04 {color: $color04 !important;}
.color05 {color: $color05 !important;}
.color06 {color: $color06 !important;}
.color07 {color: $color07 !important;}
.color08 {color: $color08 !important;}
.color09 {color: $color09 !important;}
.color10 {color: $color10 !important;}
.color11 {color: $color11 !important;}
.color12 {color: $color12 !important;}
.color13 {color: $color13 !important;}

//Background Color Classes
.bg-color00 {background-color: $color00 !important;}
.bg-color01 {background-color: $color01 !important;}
.bg-color02 {background-color: $color02 !important;}
.bg-color03 {background-color: $color03 !important;}
.bg-color04 {background-color: $color04 !important;}
.bg-color05 {background-color: $color05 !important;}
.bg-color06 {background-color: $color06 !important;}
.bg-color07 {background-color: $color07 !important;}
.bg-color08 {background-color: $color08 !important;}
.bg-color09 {background-color: $color09 !important;}
.bg-color10 {background-color: $color10 !important;}
.bg-color11 {background-color: $color11 !important;}
.bg-color12 {background-color: $color12 !important;}
.bg-color13 {background-color: $color13 !important;}

.bg-red {background-color: $red !important;}
.bg-orange {background-color: $orange !important;}
.bg-orange-lighten {background-color: lighten($orange, 5%) !important;}
.bg-green {background-color: $green !important;}
.bg-blue {background-color: $blue !important;}
.bg-darkblue {background-color: $darkblue !important;}
.bg-darkblue-lighten {background-color: lighten($darkblue, 5%) !important;}
.bg-cyan {background-color: $cyan !important;}
.bg-cyan-lighten {background-color: lighten($cyan, 5%) !important;}
.bg-yellow {background-color: $yellow !important;}
.bg-l-grey {background-color: $l-grey !important;}
.bg-grey {background-color: $grey !important;}
.bg-skin {background-color: $color00 !important;}


$bg-texture-01: url('../images/backgrounds/skin_side_up.png');
$bg-texture-02: url('../images/rs-images/02.jpg');
$bg-texture-03: url('../images/backgrounds/footer_lodyas.png');
$bg-texture-04: url('../images/backgrounds/footer_lodyas01.png');

.e-bg-light-texture {background: $bg-texture-01 ;}
.e-bg-texture-02 {
  background: $bg-texture-02;
  background-size: cover;
}
.e-bg-dark-texture {background: $bg-texture-03 ;}
.e-bg-dark-color-texture {background: $bg-texture-04 ;}


/* Clearfix */
//.clearfix:after {
//  content: ".";
//  visibility: hidden;
//  display: block;
//  height: 0px;
//  clear: both;
//}
//@mixin clearfix() {
//  &:before,
//  &:after {  content: "";  display: table;  }
//  &:after {  clear: both;  }
//}


/* Block Background Classes */

//.e-bg-skin {background: $skin;}
//.e-bg-light {  background: $color01;  }
//.e-bg-medium {background: $color02;}
//.e-bg-dark {  background: $color07; color: $color01; }
//.e-bg-darker {  background: $color08; color: $color01; }
//.e-bg-darkest {  background: $color09; color: $color01; }
//.e-bg-accent { background: $accentcolor; color: $color01;}
//.e-bg-section {
//  @include clearfix;
//  overflow: hidden; // added for pseudo-element
//  position: relative; // added for pseudo-element
//  &::before {
//    content: ' ';
//    position: fixed; // instead of background-attachment
//    width: 100%;
//    height: 100%;
//    top: 0;
//    left: 0;
//    background-color: $color02;
//    background: url("../images/section-bg01.jpg") no-repeat center center;
//    background-size: cover;
//    will-change: transform; // creates a new paint layer
//    z-index: -1;
//  }
//}