/*------------------------------------------------------------------
[13. Media Query]
*/


@media (max-width: 1200px) {  }

@media (min-width: 992px) {  }

@media (max-width: 992px) {

  .post-date {display: none;}

  li.mob-button {display: inline-block;}

  .menu-wrap {display: inline-block;}

  .features-slider-wrap {
    .features-slider {
      position: relative;
      left: 0;
      top: 0;
      margin: 80px 50px 100px 50px;
    }
  }
  .divider-dynamic {  height: 60px;  }

  .photocard-block {
    .photocard-image-container {
      position: static;
      min-height: 350px;
    }
    .column-half,
    .photocard-image-wrap.column-float-right,
    .photocard-image-wrap.column-float-left {
      width: 100%;
      float: none;
    }
    .photocard-image-wrap.column-float-right,
    .photocard-image-wrap.column-float-left,
    .photocard-image-wrap,
    .photocard-image-wrap img {
      position: static;
      width: 100%;
    }
    .photocard-contents-inner {  padding: 60px;  }
  }
  .overlay-border {display: none;}
  .team-member {  margin-bottom: 32px;  }
  .infoblock {  margin-bottom: 60px;  }

  //  Counts Block
  .counts .count-container .count .count-icon {  font-size: 32px;  }
  .carousel-inner {  margin: 0 auto;  text-align: center;  }

  // Header and Menu Mobile Initial and Sticky look
  #header-wrapper-mp,
  #header-wrapper-mp .is-sticky {
    #site-title {
      float: left;
      h1 {
        font-size: 28px;
        margin-top: 24px;
      }
    }
    .sticky-wrapper, .sticky-header {  height: 80px !important;  }
  }
  .m-desktop {  display: none !important;  }
  .menu-button {  margin: 9px 0 0 0;  }
  .shop-item {  margin-bottom: 60px;  }
  figure {
    width: 100%;
    max-width: 100%;
    margin: 0 0 0 0;
  }
  .customer-review .review-container .review-content {  text-align: center;  }
  .hp-block {
    .hp-categories-menu {
      text-align: center;
      ul {
        text-align: center;
        padding-left: 0px;
        white-space: normal;
        width: 100%;
        li {width: 100%;}
      }
    }
  }
}

//@media (min-width: 768px) {  }

@media (max-width: 768px) {

  .progress-tracker {
    display: none;
  }
  .title {
    padding-bottom: 0px;
    border-bottom: none;
  }
  .digit {
    font-size: 38px;
    line-height: 24px;
  }
  .counts .count-container .count .count-icon {  font-size: 24px;  }
  .partners {  display: none;  }
  .port-filter ul li {
    display: block;
    margin-bottom: 12px;
    width: 100%;
    a {width: 100%;  }
  }
}

@media (max-width: 400px) {
  #details {
    .infoblock {text-align: center;}
    .m-details-ico i::before {
      margin: 0;
    }
  }
  .photocard-block .photocard-image-container {  min-height: 250px;  }
  .carousel-inner {  width: 100%;  }
  .overlay-divide {  display: none;  }
  .count {
    display: block !important;
    margin-bottom: 30px;
  }
  .sticky-wrapper {  height: 80px;  }
}